@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500;600;700&display=swap');

.main {
    background-color: #221e1e; /* Light gray background */
}

body {
    font-family: 'Orbitron', sans-serif;
}


h1, .titlesection-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: #40b65f;
}


h2, .text {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #0fcd41;
}

.timeline {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: #40f409;
}

img {
    border-radius: 15px;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover{
    color: #d33682 !important;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

img.profile-pic {
    border: none;
    border-radius: none;
}
img.project-gif {
    border-radius: 15px;  /* Rounded corners */
    border: 2px solid #ccc;  /* Gray border */
    max-width: 100%;        /* Ensure images are responsive */
}

.project-gif-container {
    border-radius: 10px !important;
    overflow: hidden !important;
    height: 250px !important;
}

.project-gif {
    border-radius: 15px !important;
    border: 2px solid #ccc !important;
    max-width: 100% !important;
}

.custom-text {
    font-size: 28px !important;
    font-family: 'Orbitron', sans-serif !important;
}
